<header class="main-header">
    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>小</b>程序</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>小程序</b>系统</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <ul class="nav navbar-nav">
            <!--{foreach from=$user_compose_list item=compose_info}-->
            <li <!--{if $compose_info.id == $compose_id}-->  class="active" <!--{/if}-->>
            <a href="/manager/index/index?compose_id=<!--{$compose_info.id}-->"><!--{$compose_info.cn_name}--></a>
            </li>
	      <!--{/foreach}-->
      </ul>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="http://src.leju.com/imp/imp/deal/6d/1f/c/fbb38a6fc57147c1f0fce848a02_p47_mk47.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><!--{$user_info.user_name}--></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="http://src.leju.com/imp/imp/deal/6d/1f/c/fbb38a6fc57147c1f0fce848a02_p47_mk47.png" class="img-circle" alt="User Image">

                <p>
                  <!--{$user_info.real_name}-->
                  <small><!--{$smarty.now|date_format:'%Y-%m-%d %H:%M:%S'}--></small>
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
              <!--
                <div class="pull-left">
                  <a href="/manager/users/edit_passwd?user_id=<!--{$user_info.id}-->" class="btn btn-default btn-flat">修改密码</a>
                </div>
                -->
                <div class="pull-right">
                  <a href="/manager/login/logout" class="btn btn-default btn-flat">安全退出</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
        </ul>
      </div>
    </nav>
  </header>
