.hb-file {
    position: relative;
    display: inline-block;
    background: #f39c12;
    border: 1px solid #e08e0b;
    border-radius: 4px;
    padding: 6px 12px;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    text-indent: 0;
    vertical-align:middle;
    margin: 0px;
}
.hb-file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.hb-file:hover {
    background: #e08e0b;
    border-color: #e08e0b;
    color: #fff;
    text-decoration: none;
}