<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="<!--{$css_path}-->/base.css" rel="stylesheet" type="text/css">
<link href="<!--{$css_path}-->/module.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="<!--{$scripts_path}-->/jquery.js"></script>
<script type="text/javascript" src="<!--{$scripts_path}-->/ui.js"></script>
<script type="text/javascript" src="<!--{$scripts_path}-->/common.js"></script>
<title></title>
</head>

<body>
    <div class="main">
        <p>执行完毕，请验证执行结果是否正确！</p>
        <p><a onclick='javascript:window.history.go(-1);'>返回</a></p>
    </div>
</body>
</html>



