<!DOCTYPE html>
<html>
<head>
    <!--{include file="common/head.html"}-->
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

    <!--{include file="common/main_header.html"}-->
    <!--{include file="common/main_sidebar.html"}-->

    <script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
    <link href="/resources/css/ui.datepicker.css" rel="stylesheet" type="text/css" />

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                日志列表(表名：<!--{$log_table}-->)
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12">

                    <div class="col-xs-22">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title"><span class="label label-warning">备注：查看其它日期日志需要在链接上增加log_table参数</span></h3>
                            </div>

                            <div class="panel-heading clearfix">
                                <form method='get' id="log_search" action="?site=manager&ctl=log&act=apilog_list" name="log_search" class="form-search form-inline">
                                    <input type="text" name="log_site"  placeholder="site" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.log_site}-->" size="10" />
                                    <input type="text" name="log_ctl"  placeholder="controller" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.log_ctl}-->" size="10" />
                                    <input type="text" name="log_act"  placeholder="action" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.log_act}-->" size="10" />
                                    <input type="text" name="trace_id"  placeholder="trace_id" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.trace_id}-->" size="10" />
                                    <input type="text" name="page_url"  placeholder="page_url" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.page_url}-->" size="10" />
                                    <input type="text" name="request_url"  placeholder="request_url" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.request_url}-->" size="10" />
                                    <input type="text" name="log_post"  placeholder="post关键词" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.log_post}-->" size="10" />
                                    <input type="text" name="log_return"  placeholder="返回值" id=""  class="fl form-control w130 mr10" value="<!--{$smarty.get.log_return}-->" size="10" />
                                    <br/>
                                    <input type="text" style='width:170px;' class="fl form-control w150 mr10" class="Wdate" name="start_time"  placeholder="日期" id=""   value="<!--{$smarty.get.start_time}-->" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="15" />
                                    <input type="text" style='width:170px;' class="fl form-control w150 mr10" class="Wdate" name="end_time"  placeholder="结束日期" id=""  value="<!--{$smarty.get.end_time}-->" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" size="15" />
                                    状态：<select name="status" class="form-control">
                                    <option value="" <!--{if $smarty.get.status eq ""}-->selected<!--{/if}-->>全部</option>
                                    <option value="1" <!--{if $smarty.get.status eq "1"}-->selected<!--{/if}-->>成功</option>
                                    <option value="2" <!--{if $smarty.get.status eq "2"}-->selected<!--{/if}-->>失败</option>
                                    </select>
                                    <input type='hidden' name='site' value="<!--{$site}-->">
                                    <input type='hidden' name='ctl' value="<!--{$ctl}-->">
                                    <input type='hidden' name='act' value="<!--{$act}-->">

                                    <button type="submit" class="btn bg-olive margin">搜索</button>
                                </form>
                            </div>
                        </div>

                        <div class="box box-warning">
                            <!--<div class="box-header">-->
                            <!--<h3 class="box-title">Hover Data Table</h3>-->
                            <!--</div>-->
                            <div class="box-body">
                                <table id="example2" class="table  table-hover">
                                    <thead>
                                    <tr>
                                        <th>trace_id</th>
                                        <th>页面地址</th>
                                        <th>请求方式</th>
                                        <th>请求地址</th>
                                        <th>耗时</th>
                                        <th>创建时间</th>
                                        <th>接口状态</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <!--{foreach from=$log_list item=item}-->
                                    <tr>
                                        <td><!--{$item.trace_id}--></td>
                                        <td style="width:300px;word-wrap:break-word; word-break:break-all;"><!--{$item.page_url}--></td>
                                        <td><!--{$item.request_method}--></td>
                                        <td style="width:300px;word-wrap:break-word; word-break:break-all;"><!--{$item.request_url}--></td>
                                        <td><!--{$item.spend_time}-->ms</td>
                                        <td><!--{$item.create_at|date_format:"%Y-%m-%d %H:%M:%S"}--></td>
                                        <td>
                                            <!--{if $item.status==1}-->
                                            成功
                                            <!--{else}-->
                                            失败
                                            <!--{/if}-->
                                        </td>
                                        <td><a href='./apidetail?id=<!--{$item._id}-->&log_table=<!--{$log_table}-->' class="btn"> 查看详情 </a></td>
                                    </tr>
                                    <!--{/foreach}-->
                                    <tfoot>
                                    <tr>
                                        <th colspan="8"><!--{$pager_html}--></th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
    </div>
    <!--{include file="common/main_footer.html"}-->
    <div class="control-sidebar-bg"></div>
</div>
</body>
</html>