<!DOCTYPE html>
<html>
<head>
    <!--{include file="common/head.html"}-->
</head>
<body class="hold-transition skin-green sidebar-mini">
<div class="wrapper">

    <!--{include file="common/main_header.html"}-->
    <!-- Left side column. contains the logo and sidebar -->
    <!--{include file="common/main_sidebar.html"}-->

    <script type="text/javascript" src="/resources/js/datepicker/WdatePicker.js"></script>
    <link href="/resources/css/ui.datepicker.css" rel="stylesheet" type="text/css" />

    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                日志列表
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">

                <div class="col-md-12">

                <div class="col-xs-22">
                    <div class="box box-success">
                        <div class="box-header with-border">
                        </div>

                        <div class="panel-heading clearfix">
                            <form method='get' id="log_search" action="?site=manager&ctl=log&act=index" name="log_search" class="form-search form-inline">
                                <input type="text" name="mobile"  placeholder="电话号" id="" class="fl form-control w130 mr10" value="<!--{$smarty.get.mobile}-->" size="10" />
                              
                                <input type='hidden' name='site' value="<!--{$site}-->">
                                <input type='hidden' name='ctl' value="<!--{$ctl}-->">
                                <input type='hidden' name='act' value="<!--{$act}-->">

                                <button type="submit" class="btn bg-olive margin">搜索</button>
                            </form>
                        </div>
                    </div>

                    <div class="box box-warning">
                        <!--<div class="box-header">-->
                            <!--<h3 class="box-title">Hover Data Table</h3>-->
                        <!--</div>-->
                        <div class="box-body">
                            <table id="example2" class="table  table-hover">
                                <thead>
                                <tr>
                                    <th class="with-checkbox">appid</th>
                                    <th>电话号</th>
                                    <th>内容</th>
                                    <th>返回码</th>
                                    <th>返回消息</th>
                                    <th>时间</th>
                                    <th>IP</th>
                                </tr>
                                </thead>
                                <!--{foreach from=$log_list item=item}-->
                                <tr>
                                    <td class="tc"><!--{$item.appid}--></td>
                                    <td><!--{$item.mobile}--></td>
                                    <td><!--{$item.message}--></td>
                                    <td><!--{$item.ret_code}--></td>
                                    <td><!--{$item.ret_msg}--></td>
                                    <td><!--{$item.time|date_format:"%Y-%m-%d %H:%M:%S"}--></td>
                                    <td><!--{$item.ip}--></td>
                                </tr>
                                <!--{/foreach}-->
                                <tfoot>
                                <tr>
                                    <th colspan="9"><!--{$pager_html}--></th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!--{include file="common/main_footer.html"}-->
    <div class="control-sidebar-bg"></div>
</div>
</body>
</html>